@import "/src/scss/main.scss";

.inputBox{
   position: relative;
   width: 400px;
   height: 50px;
   font-family: $font-alt;
   color: $text;
   background-color: transparent;
   z-index: 0;
}
.inputBox__label{
   position: absolute;
   font-size: 26px;
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
   font-weight: 400;
   transition: all 333ms;
   z-index: -1;
   background: linear-gradient(135deg, $top-purple 10%, $bot-orange );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.inputBox__label_active{
   font-size: 16px;
   top: -5%;

}
.inputBox__input{
   width: 100%;
   height: 100%;
   border: none;
   border-bottom: 3px solid;
   border-color: $text;
   font-size: 26px;
   padding-left: 20px;
   background-color: transparent;
   z-index: 2;
   transition: all 333ms;
   &:focus{
      outline: none;
      border-color: $primary-orange;
      ~ label{
         font-size: 16px;
         top: -5%;
      }
   }
}
.inputBox__btn{
   position: absolute;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);
   background-color: transparent;
   border: none;
}
.inputBox__icon{
   cursor: pointer;
   height: 30px;
   width: 40px;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
:-moz-autofill, :-moz-autofill-preview {
   filter: none;
}
input:autofill {
   background: #fff; /* or any other */
}