@import "/src/scss/main.scss";
@import "../../../scss/variables/fonts";
@import "../../../scss/variables/colors";

.container {
    width: 100px;
}

.lang_menu {
    position: relative;
    padding: 15px 20px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background: none;
    border: none;
    color: $white-text;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
    }
}

.world_icon {
    font-size: 1.5rem;
    color: $primary-orange;
}

.selected_lang {
    font-size: 1rem;
    text-transform: uppercase;
}

.list {
    position: absolute;
    backdrop-filter: blur(3px);
    padding:  .75rem;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    transform: translateY(-0.6rem) translateX(1.5rem); 
}

.thing {
    color: $white-text;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: $primary-orange;
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
    }
    &:active {
        color: $secondary-text;
    }
}

//transition classNames
.enter {
    opacity: 0;
    transform: translateY(-3rem) translateX(1.5rem); 
}

.enterActive {
    opacity: 1;
    transform: translateY(-0.6rem) translateX(1.5rem);
    transition: opacity 300ms, transform 300ms;
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transform: translateY(-3rem) translateX(1.5rem); 
    transition: opacity 300ms, transform 300ms;
}