$main: royalblue;

//-----------------------
//małe tytuły
$title-orange: #FF7C01;
//buttony i inne feature'y 
$primary-orange: #FD9462;
//background niektórych componentów
$primary-background: #FFF5F0;
//text i duże tytuły komponentów
$text: #393E45;
//tekst w footer copyright
$secondary-text: #BABABA;
$white-text: #FFF;
//karty opinii
$secondary-background: #F5F5F5;
//główne kolory gradientu z landing-page
$top-purple: rgba(87,69,168,1);
$bot-orange: rgba(238,92,72,1);

//mixin z gradientem żeby było prościej (używa się z @include main-gradient(); )
@mixin main-gradient() {
    background: linear-gradient(135deg, $top-purple 0%, $bot-orange 100%);
}

@mixin bot-gradient() {
    background: linear-gradient(180deg, rgba(247,167,111,1) 62%, rgba(255,239,99,1) 100%);
}