$main: royalblue;

//-----------------------
//małe tytuły
$title-orange: #FF7C01;
//buttony i inne feature'y 
$primary-orange: #FD9462;
//background niektórych componentów
$primary-background: #FFF5F0;
//text i duże tytuły komponentów
$text: #393E45;
//tekst w nieaktywnych przyciskach i footerze
$secondary-text: #BABABA;
//karty opinii
$secondary-background: #F5F5F5;