@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400;600&display=swap');

$main-font: 'Times New Roman', Times, serif;

//-----------------------
$font-text: 'Roboto', sans-serif;
$font-titles: 'Rubik', sans-serif;